= form_for @comment do |f|
  - if @comment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"
      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :description
    = f.text_area :description
  .field
    /= f.label :task
    /= f.text_field :task
    /= f.hidden_field(:task)
    = f.hidden_field(:task_id)
  .field
    /= f.label :commenter
    /= f.text_field :commenter
    /= f.hidden_field(:commenter)
    = f.hidden_field(:commenter_id)
  .actions
    = f.submit 'Save'
