
%div#new-task
  %h3 #{ task.mode.to_s.capitalize } Task
  %fieldset
    %ul
      %li
        %label{ :for => "new-application" }App:

        / make this into a partial for _applist
        %select#new-application{ :name => "new-application" }
          - @app_list.each do |app|
            %option{ :value => app.id }=app.name


        %label{ :for => "new-build" }Build:
        %input#new-build{ :name => "new-build", :type => "text", :value => task.build_observed }

        %label{ :for => "new-status" }Status:


        - if task.is_edit_mode?
          = render :partial => "partials/statuslistselect", :locals => { :status_list => @status_list, :item => task, :id => "task-status", :name => "task-status" }
        - else
          %span.text-entry NEW

      %li
        %label{ :for => "new-browser" }Browser:
        = render :partial => "partials/browserlistselect", :locals => { :browsers => task.browsers }

      %li
        %label{ :for => "new-bz-id" }BZ id:
        %input#new-bzId{ :name => "new-bz-id", :type => "text", :value => task.bz_id }


      %li
        %label{ :for => "new-reporter" }Reporter:
        %span.text-entry=task.reporter.index_name
        %input#new-reporter{ :name => "new-reporter", :type => "hidden", :value => task.reporter.id }

      - if task.is_edit_mode?
        %label{ :for => "new-assignee" }Assignee:
        = render :partial => "partials/assigneelistselect", :locals => { :assignee_list => assignee_list, :item => task.assignee, :id => "task-assignee", :name => "task-assignee" }

      %li
        %label{ :for => "new-description" }Description:
        %textarea#new-description{ :name => "new-description" }=task.description

  %hr
  %div.button-bar
    %input{ :id => "#{ task.mode }-task-cancel", :class => [ "chekov-button" ], :type => "button", :value => "cancel" }
    %input{ :id => "#{ task.mode }-task-submit", :class => [ "chekov-button" ], :type => "button", :value => "ok" }

