
%div#new-comment
  %h3 Add Comment

  = form_for @comment do |f|
    - if @comment.errors.any?
      #error_explanation
        %h3= "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"
        %ul
          - @comment.errors.full_messages.each do |msg|
            %li= msg

    %fieldset
      = f.hidden_field :task_id, :id => "comment-taskid"
      = f.hidden_field :commenter_id, :id => "comment-commenter"
      %ul
        %li.field
          %label{ :for => "comment-reporter" } Reporter:
          %span.text-entry=comment.task.reporter.index_name
          %span#status-block
            %label{ :for => "comment-status" } Status:
            = render :partial => "partials/statuslistselect",
                      :locals => { :status_list => @status_list, :item => comment.task, :id => "comment-status", :name => "comment[task[status_id]]" }
        %li.field
          %label{ :for => "comment-assignee" } Assignee:
          %span.text-entry=comment.task.assignee.index_name
        %li.field
          %label{ :for => "comment-abstract" } Abstract:
          %em.text-entry=comment.task.abstract
        %li.field.description
          %label{ :for => "comment-description"} Description:
          = f.text_area :description, :id => "comment-description"

    %hr

    %div.button-bar.actions
      %input#add-comment-cancel{ :class => [ "chekov-button" ], :type => "button", :value => "cancel" }
      = f.submit 'ok', :class => 'chekov-button', :id => "add-comment-submit"