
%div#new-task

  = form_for @task do |t|
    - if @task.errors.any?
      #error_explanation
        %h3= "#{ pluralize(@task.errors.count, "error") } prohibited this task from being saved:"
        %ul
          - @task.errors.full_messages.each do |msg|
            %li= msg

    %h3 #{ task.mode.to_s.capitalize } Task
    %fieldset
      %ul
        %li.field
          %label{ :for => "new-application" } App:
          = render :partial => "partials/applistselect",
                   :locals => { :app_list => @app_list, :item => task, :id => "#{ task.mode }-application",
                                :name => "application_id" }


          %label{ :for => "new-build" } Build:
          %input#new-build{ :name => "build_observed", :type => "text", :value => task.build_observed }

          %label{ :for => "new-status" } Status:
          - if task.is_edit_mode?
            = render :partial => "partials/statuslistselect",
                     :locals => { :status_list => @status_list, :item => task, :id => "task-status", :name => "status_id" }
          - else
            %span.text-entry New
            = t.hidden_field :status_id, :value => 3, :name => "status_id"

        %li.field
          %label{ :for => "new-browser" } Browser:
          = render :partial => "partials/browserlistselect",
                   :locals => { :browsers => task.browsers, :name => "browser_id" }

        %li.field
          %label{ :for => "new-bz-id" } BZ id:
          %input#new-bzId{ :name => "bz_id", :type => "text", :value => task.bz_id }

        %li.field
          %label{ :for => "new-reporter" } Reporter:
          %span.text-entry=task.reporter.index_name
          %input#new-reporter{ :name => "reporter_id", :type => "hidden", :value => task.reporter.id }

        - if task.is_edit_mode?
          %label{ :for => "new-assignee" } Assignee:
          = render :partial => "partials/assigneelistselect",
                   :locals => { :assignee_list => assignee_list, :item => task.assignee, :id => "task-assignee",
                                :name => "assignee_id" }

        %li.field
          %label{ :for => "new-description" } Description:
          %textarea#new-description{ :name => "description" }=task.description

    %hr

    %div.button-bar.actions
      %input{ :id => "#{ task.mode }-task-cancel", :class => [ "chekov-button" ], :type => "button", :value => "cancel" }
      = t.submit "ok", :class => "chekov-button", :id => "#{ task.mode }-task-submit"
