
%div#recent-activity.activity-feed
  %h3
    Recent Activity
    %span &#9660;
  - if !@recents.empty?
    %ul
      - @recents.each do |recent|
        %li
          %strong #{ recent[1].agent.index_name }
          #{ recent[1].action }
          %small #{ recent[1].formatted_time }
  - else
    %li.no-activity No new recent activity since your last visit.


%div#top-commenters.activity-feed
  %h3
    Top Commenters
    %span &#9660;
  - if !top_commenters.empty?
    %ol
      - top_commenters.each do |recent|
        %li
          %strong #{ recent[:name].index_name }
          [#{ recent[:name].team_abbrev }]
          %small #{ pluralize recent[:count], 'comment' }
  - else
    %li.no-activity No new recent comments since your last visit.


%div#top-reporters.activity-feed
  %h3
    Top Reporters
    %span &#9660;
  - if !top_reporters.empty?
    %ol
      - top_reporters.each do |recent|
        %li
          %strong #{ recent[:name].index_name }
          [#{ recent[:name].team_abbrev }]
          %small #{ pluralize recent[:count], 'task' }
  - else
    %li.no-activity No new recent tasks reported since your last visit.
