
= render :partial => "partials/headermenu"

%div#gradient
%div#app-wrapper
  %header
    %h1
      *
      %span.app-name>v#{ app_version }

    = render :partial => "partials/statuslistselect", :locals => { :status_list => @status_list }

    %span#new-task-button
      %button#new-task-init.chekov-button
        %span.plus +
        new task

    = render :partial => "partials/taskstats", :locals => { :stats => stats }

    %hr

  %div.main

    %table#task-table{ :role => 'main' }
      %thead
        %tr.header-row
          %th.id-header id
          %th app
          %th build
          %th description
          %th browser
          %th bz id
          %th reporter

      - tasklist.each do |task|
        %tr{ :class => [ "task-list", task.status_name ], :id => "row_#{ task.id }" }
          %td.id-cell
            = render :partial => "partials/tableidcell", :locals => { :task => task }
          %td=task.application.name
          %td=task.build_observed
          %td.description
            =task.description
            - if task.has_comments?
              = render :partial => "partials/commentview", :locals => { :task_comments => comments_for_task(task.id) }
          %td=task.browser.shortname
          %td=task.bz_id
          %td=task.reporter.index_name

  /= render :partial => "partials/edittask", :locals => { :edit_view => edit_task(1) }
  = render :partial => "partials/newcommentview", :locals => { :comment => comment_for_task(8) }