
= render :partial => "partials/header_menu"

%div#gradient

= render :partial => "partials/flash_messages", :locals => { :flash => flash }

%div#app-wrapper
  %header
    %h1
      *
      %span.app-name>=app_version
    = render :partial => "partials/filter_select", :locals => { :filter_list => Filter.all_filters }

    %span#new-task-button{ :data => { :reporter_id => me.id }}
      %button#new-task-init.chekov-button
        %span.plus +
        new task
    = render :partial => "partials/task_stats", :locals => { :stats => StatisticsService.calculate(@tasks) }

  %div.main

    %table#task-table{ :role => 'main' }
      %thead
        %tr.header-row
          %th.id-header id
          %th app
          %th build
          %th description
          %th browser
          %th bz id
          %th reporter

      - if !task_list.empty?
        - task_list.each do |task|
          = render :partial => "partials/task_row_view", :locals => { :task => task }
      - else
        = render :partial => "partials/empty_table_view", :locals => { :filter => params[:filter] }