= form_for @task do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :application
    = f.text_field :application
  .field
    = f.label :build_observed
    = f.text_field :build_observed
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :bz_id
    = f.number_field :bz_id
  .field
    = f.label :reporter
    = f.text_field :reporter
  .field
    = f.label :assignee
    = f.text_field :assignee
  .field
    = f.label :status
    = f.text_field :status
  .field
    = f.label :browser
    = f.text_field :browser
  .actions
    = f.submit 'Save'
