%p#notice= notice

%p
  %b Application_id:
  = @task.application_id
%p
  %b Build observed:
  = @task.build_observed
%p
  %b Description:
  = @task.description
%p
  %b Bz:
  = @task.bz_id
%p
  %b Reporter_id:
  = @task.reporter.id
%p
  %b Assignee_id:
  = @task.assignee.id
%p
  %b Status_id:
  = @task.status.id
%p
  %b Browser_id:
  = @task.browser.id

= link_to 'Edit', edit_task_path(@task)
\|
= link_to 'Back', tasks_path
