%p#notice= notice

%p
  %b Application:
  = @task.application
%p
  %b Build observed:
  = @task.build_observed
%p
  %b Description:
  = @task.description
%p
  %b Bz:
  = @task.bz_id
%p
  %b Reporter:
  = @task.reporter
%p
  %b Assignee:
  = @task.assignee
%p
  %b Status:
  = @task.status
%p
  %b Browser:
  = @task.browser

= link_to 'Edit', edit_task_path(@task)
\|
= link_to 'Back', tasks_path
