%h1 Listing browsers

%table
  %tr
    %th Name
    %th Shortname
    %th
    %th
    %th

  - @browsers.each do |browser|
    %tr
      %td= browser.name
      %td= browser.shortname
      %td= link_to 'Show', browser
      %td= link_to 'Edit', edit_browser_path(browser)
      %td= link_to 'Destroy', browser, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Browser', new_browser_path
